---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>League of Scrubs</title>
    <meta
      name="description"
      content="League of Scrubs - Fantasy Football League"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="League of Scrubs" />
    <meta
      property="og:description"
      content="League of Scrubs - Fantasy Football League"
    />
    <meta property="og:image" content="/seo.png" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="League of Scrubs" />
    <meta
      name="twitter:description"
      content="League of Scrubs - Fantasy Football League"
    />
    <meta name="twitter:image" content="/seo.png" />
  </head>
  <body class="bg-black min-h-screen">
    <Navbar />
    <main class="pt-24">
      <slot />
    </main>
    <Footer />
  </body>
</html>
